@font-face {
    font-family: 'weather';
    src: url('../fonts/artillweathericons.eot');
    src: url('../fonts/artillweathericons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/artillweathericons.woff') format('woff'),
         url('../fonts/artillweathericons.ttf') format('truetype'),
         url('../fonts/artillweathericons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
  margin: 20px auto;
  background: #FFF;
  border-radius: 3px;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

i {
  color: #000;
  font-family: weather !important;
  font-size: 60pt;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
  margin: -8px 10px 10px 20px;
  flex: 1;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 15px 0 7px;
  color: #000;
  font-size: 36pt;
  font-weight: 300;
  text-align: center;
  flex: 1;
}

#weather ul {
  flex: 1;
}

#weather li {
  margin: 5px;
  font-size: 14pt;
}

#weather .currently {
  font-size: 14pt;
}

#weather .city {
  font-size: 12pt;
}